

body {

	backdrop-filter: hue-rotate(189deg) blur(25px) opacity(0.5);
}

html{
	/* background-image: linear-gradient(to right top, rgba(136, 181, 243, 0.1), rgba(172, 228, 175, 0.1), 
	rgba(166, 227, 235, 0.1), rgba(167, 220, 196, 0.1),rgba(183, 193, 247, 0.1)); */
	font-family:'Rambla', sans-serif, Arial, Helvetica, sans-serif;
	letter-spacing: 1.35px;
	/* background-image: radial-gradient(to top, rgba(207, 217, 223, 0.5) 0%, rgba(110, 111, 53, 0.5) 100%); */
			background: #806f6d;
		background: -webkit-linear-gradient(bottom, rgba(84, 29, 21, 0.5), rgba(172, 174, 151, 0.5));
		background: -moz-linear-gradient(bottom, rgba(84, 29, 21, 0.5), rgba(172, 174, 151, 0.5));
		background: linear-gradient(to top, rgba(84, 29, 21, 0.4), rgba(172, 174, 151, 0.5));
}
body{
	background-color: rgba(251,251,251,0.01) !important;
	/* backdrop-filter: blur(20px); */
	height: 100vh;
	margin: 0px;
	padding: 25px;

}
hr{
	border: #051937 solid .25px;
	opacity: 0.25;
}
.placeholder-text{
	margin-top: 15px;
	opacity: 0.5;
}
#editarea{
	padding: 15px;
}
#editarea:focus{
 box-shadow: #d6860c8d 0 0 6px 3px;
}