

body {

	backdrop-filter: hue-rotate(189deg) blur(25px) contrast(1.5);
}

html{
	background-image: linear-gradient(to right top, rgba(136, 181, 243, 0.1), rgba(172, 228, 175, 0.1), 
	rgba(166, 227, 235, 0.1), rgba(167, 220, 196, 0.1),rgba(183, 193, 247, 0.1));
	font-family:'Rambla', sans-serif, Arial, Helvetica, sans-serif;
	letter-spacing: 1.35px;
}
body{
	background-color: rgba(1,1,1,0.25) !important;
	/* backdrop-filter: blur(20px); */
	height: 3000px;
	margin: 0px;
	padding: 25px;
}
hr{
	border: #051937 solid .25px;
	opacity: 0.25;
}
.placeholder-text{
	margin-top: 15px;
	opacity: 0.5;
}
#editarea{
	padding: 15px;
}
#editarea:focus{
 box-shadow: #d6860c8d 0 0 6px 3px;
}